data_from_tien/satellite_2015-2023/satellite/TC_biendong_625x500-2015-2023_Himawari
data_from_tien/satellite_2015-2023.tar.gz
data_from_tien/satellite_2015-2023/satellite/TC_biendong_625x500-2015-2023_Himawari.zip